/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch06/06_01/ex6_1/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch06/06_01/ex6_1/build/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch06/06_02/ex6_2/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch06/06_02/ex6_2/build/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch06/06_03/ex6_3/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch06/06_03/ex6_3/build/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch06/06_04/ex6_4/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch06/06_04/ex6_4/build/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch06/06_05/ex6_5/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch06/06_05/ex6_5/build/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch07/07_01/ex7_1/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch07/07_01/ex7_1/build/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch07/07_02/ex7_2/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch07/07_02/ex7_2/build/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch07/07_03/ex7_3/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch07/07_03/ex7_3/build/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch07/07_04/ex7_4/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch07/07_04/ex7_4/build/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch07/07_05/ex7_5/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch07/07_05/ex7_5/build/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch07/07_07/ex7_6/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch07/07_07/ex7_6/build/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch07/07_08/ex7_8_challenge/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch07/07_08/ex7_8_challenge/build/
/Back-End/Become a Full-Stack Web Developer/6_Web Project Workflows with Gulp.js, Git, and Browserify/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch08/08_01/ex8_1/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch08/08_01/ex8_1/build/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch08/08_02/ex8_2/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch08/08_02/ex8_2/build/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch08/08_03/ex8_3/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch08/08_03/ex8_3/build/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch08/08_04/ex8_4/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch08/08_04/ex8_4/build/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch08/08_05/ex8_5/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch08/08_05/ex8_5/build/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch09/09_02/ex9_2/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch09/09_02/ex9_2/build/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch09/09_03/ex9_3/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch09/09_03/ex9_3/build/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch09/09_05/ex9_5/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch09/09_05/ex9_5/build/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch09/09_06/ex9_6/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch09/09_06/ex9_6/build/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch09/09_06/ex9_7/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch09/09_07/ex9_7/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch09/09_07/ex9_7/build/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch09/09_08/ex9_8/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch09/09_08/ex9_8/build/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch09/09_09/ex9_9/nbproject/private/
/Become_a_Java_Programmer/3_Java Essential Training/Ex_Files_JavaEssT_Q32015/Exercise Files/Ch09/09_09/ex9_9/build/