<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scope and Digest</title>
    <link rel="stylesheet" href="index.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="learndigest">
    <div ng-controller="PlaygroundCtrl">
      <div>
        How strong is the force {{ force }}
      </div>
      <input type="number" ng-model="force">
      <button type="button" ng-click="resetForce()">Reset</button>
    </div>

  </body>
</html>
