html {
	box-sizing: border-box;
	font-family: arial, helvetica, sans-serif;
}
img {
	max-width: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}
.container {
	width: 70vw;
	margin: 10px auto;
	height: 200vh;
}
.container > * {
	border: 2px solid green;
	background-color: #ffec99;
	padding: 10px;
	margin: 10px 0;
	height: 100px;
}
