<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scope and Digest</title>
    <link rel="stylesheet" href="index.css">
    <script src="angular.min.js"></script>
    <script src="jquery-3.2.1.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="learndigest">
    <div ng-controller="PlaygroundCtrl as vm">
      <div>
        How strong is the force {{ vm.force }}
      </div>
      <div>the dream is {{ vm.dream }}</div>
      <input type="number" ng-model="vm.force">
      <button type="button" ng-click="vm.resetForce()">Reset</button>
      <button type="button" id="theButton">Bad Button</button>
    </div>

  </body>
</html>
