/* --- CSS Document Written by Chris Converse for lynda.com --- */



body { margin: 25px; font-family: Times, serif; font-size: 16px; line-height: 22px; background-color: #fff;  }

article { padding: 30px 50px 8px 35px; border: 1px solid #ccc; border-left: 4px solid #000; }

h2 { margin: 0px 0px 12px 0px; }

p { margin: 0px 0px 16px 0px; }