html {
	box-sizing: border-box;
	font-family: arial, helvetica, sans-serif;
}
img {
	max-width: 100%;
}
*,*:before,*:after {
	box-sizing: inherit;
}
.container {
	border: 1px solid #000;
	margin: 30px;
}
.container > * {
	border: 2px solid green;
	background-color: #ffec99;
	padding: 10px;
}
